@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: left;
  font-family: 'Montserrat';
  margin: 0;
  position: static;
}

.titleOfPage {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.noItemTitle {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin: ;
}

.noItemSubtitle {
  font-size: 14px;
  text-align: center;
}

.iconStyle {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
} 

.iconInside {
  position: relative;
  margin: 32px 174px;
  padding: 30px;
  border: solid 1px lightgrey;
  align-items: center;
  text-align: center;
}

.collection {
  font-size: 14px;
  margin-left: 20px;
  font-weight: 700;
}