@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: left;
  font-size: 20px;
  font-family: 'Montserrat';
  margin: 10px;
  position: static;
}

.noItemTitle {
  font-size: 16px;
  text-align: center;
}

.noItemSubtitle {
  font-size: 14px;
  text-align: center;
}

.iconStyle {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
}

.iconInside {
  position: relative;
  width: 100%;
  margin: 30px 30% 30px 30%;
  border: solid 1px lightgrey;
  align-items: center;
  text-align: center;
}